In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ply
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler

pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

/home/asa/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
X_train = pd.read_csv('../../data/dengue_features_train.csv')
y_train = pd.read_csv('../../data/dengue_labels_train.csv', usecols=['total_cases'])

In [4]:
def run_rf_train(df):
    #df = knn_impute(df)
    X = df.drop('total_cases', axis=1)
    y = df['total_cases']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42, stratify=df['city'])
    
    #X = knn_impute(X)
    
    X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train), columns = X_train.columns)
    
    X_train_scaled_imputed = pd.DataFrame(imputer.fit_transform(X_train_scaled), columns = X_train.columns)
                                
    X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X_train.columns)
    
    X_test_scaled_imputed = pd.DataFrame(imputer.transform(X_test_scaled), columns=X_train.columns)
                                          
    rf_model.fit(X_train_scaled_imputed, y_train)
    y_pred = rf_model.predict(X_test_scaled_imputed)
    print(f'MAE:{mean_absolute_error(y_test, y_pred)}')
    return mean_absolute_error(y_test, y_pred)

In [ ]:
def knn_impute(df):
    scaled_df = scaling(df)
    imputer = KNNImputer(n_neighbors=5)
    imputed = imputer.fit_transform(scaled_df)
    
    return pd.DataFrame(imputed, columns=df.columns)

In [ ]:
def scaling(df):
    scaler = StandardScaler()
    df_scaled = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
    return df_scaled

In [5]:
def data_preprocess(df):
    # drop or encode categorical cols
    df_processed = df.drop('week_start_date', axis=1)
    df_processed['city'] = df_processed['city'].apply(lambda x : 1 if x=='iq' else 0)
    return df_processed

In [9]:
df = pd.concat([X_train, y_train], axis=1)
df_processed = data_preprocess(df)

scaler = StandardScaler()
imputer_n_neighbors = np.arange(2,11)
rf_n_estimators = np.arange(10, 200, 20)
results_dict = {}

for a in imputer_n_neighbors:
    for b in rf_n_estimators:
        imputer = KNNImputer(n_neighbors=a)
        rf_model = RandomForestRegressor(random_state=42, n_estimators = b)
        mae = run_rf_train(df_processed)
        results_dict[(a,b)] = mae

MAE:12.493493150684932
MAE:12.403082191780822
MAE:12.477260273972602
MAE:12.731457925636008
MAE:12.684208523592085
MAE:12.673910336239102
MAE:12.676080084299263
MAE:12.7262100456621
MAE:12.851470588235294
MAE:12.82490987743331
MAE:13.441438356164383
MAE:12.971461187214613
MAE:12.982945205479451
MAE:13.123434442270058
MAE:12.922564687975648
MAE:13.029576587795766
MAE:13.052291886195997
MAE:12.967671232876713
MAE:13.08015713134569
MAE:13.111247296323
MAE:12.844520547945207
MAE:12.604223744292238
MAE:12.707808219178084
MAE:12.85151663405088
MAE:12.78668188736682
MAE:12.992559153175591
MAE:12.957797681770286
MAE:12.899771689497717
MAE:12.981567284448026
MAE:13.013248017303534
MAE:13.013356164383563
MAE:12.758333333333333
MAE:12.70917808219178
MAE:12.706066536203522
MAE:12.718721461187215
MAE:12.841998754669987
MAE:12.853108535300317
MAE:12.832237442922375
MAE:13.041498791297341
MAE:13.05409156452776
MAE:14.238698630136986
MAE:13.679566210045662
MAE:13.277465753424655
MAE:13.18586105675147
MAE:12.96407914764079
MAE:13.01911581569116
MAE:13.002687038988407
MAE:13.017374429223745
MAE:13.166518936341662
MAE:13.173521989906273
MAE:14.00958904109589
MAE:13.24349315068493
MAE:12.87554794520548
MAE:12.826125244618396
MAE:12.835806697108067
MAE:12.881600249066002
MAE:12.935010537407798
MAE:12.861529680365297
MAE:13.017143432715551
MAE:12.971557317952415
MAE:13.082876712328767
MAE:12.817579908675798
MAE:12.828972602739725
MAE:12.753424657534246
MAE:12.737937595129376
MAE:12.770205479452054
MAE:12.859114857744995
MAE:12.781461187214612
MAE:12.926450443190975
MAE:12.892772170151407
MAE:13.259931506849314
MAE:13.030821917808218
MAE:13.016986301369862
MAE:12.987035225048922
MAE:12.901027397260272
MAE:12.958935242839354
MAE:13.003266596417284
MAE:12.972397260273972
MAE:13.086039484286866
MAE:13.018204758471521
MAE:12.475342465753425
MAE:12.956164383561644
MAE:12.898972602739725
MAE:12.777641878669275
MAE:12.88234398782344
MAE:12.950778331257784
MAE:12.980769230769232
MAE:13.005684931506847
MAE:13.061482675261885
MAE:13.028136265320835

In [24]:
min_mae_score = np.min(list(results_dict.values()))
min_mae_score
for k, v in results_dict.items():
    if v == min_mae_score:
        print(f'Best mae score of {min_mae_score} is {k}')

Best mae score of 12.403082191780822 is (2, 30)

In [7]:
X_submit = pd.read_csv('../../data/dengue_features_test.csv')
y_submit = pd.read_csv('../../data/submission_format.csv')

In [8]:
X_submit_processed = data_preprocess(X_submit)

X_submit_scaled = pd.DataFrame(scaler.transform(X_submit_processed), columns=X_submit_processed.columns)

X_submit_imputed = pd.DataFrame(imputer.transform(X_submit_scaled), columns=X_submit_processed.columns)

y_submit_pred = np.rint(rf_model.predict(X_submit_imputed))
y_submit_pred

array([ 5.,  5.,  6.,  8., 10., 10., 14., 16., 18., 21., 23., 25., 28.,
       34., 53., 57., 46., 61., 80., 73., 68., 46., 39., 54., 47., 30.,
       30., 41., 36., 32., 26., 26., 13., 17., 18., 16., 14., 16., 14.,
       14., 12., 11.,  8., 11.,  7.,  7.,  7.,  5.,  5.,  4.,  6.,  5.,
        6.,  6.,  8.,  6., 10.,  8.,  8., 11., 11., 27., 33., 33., 39.,
       50., 56., 59., 70., 62., 68., 38., 63., 63., 72., 71., 78., 72.,
       53., 32., 32., 39., 39., 31., 22., 24., 25., 23., 16., 13., 16.,
       17., 12., 18., 14., 12., 14., 10.,  7., 13., 15.,  7.,  5.,  5.,
       12., 13., 12., 18., 12., 31., 38., 42., 23., 30., 45., 50., 34.,
       25., 52., 69., 68., 73., 95., 89., 75., 76., 73., 73., 98., 64.,
       53., 40., 39., 26., 21., 20., 30., 18., 20., 22., 15., 12., 17.,
       17., 14., 12., 14., 10.,  9.,  6.,  8.,  6.,  7.,  6.,  6.,  5.,
        6., 11.,  7.,  5.,  9., 13., 16., 31., 55., 44., 27., 34., 34.,
       40., 35., 46., 59., 52., 60., 59., 66., 34., 50., 68., 66., 40.,
       32., 39., 32., 29., 28., 28., 21., 31., 20., 21., 18., 15., 15.,
       13., 12., 11., 11., 10.,  9.,  6.,  7.,  7.,  6.,  4.,  5.,  5.,
        5.,  7.,  6., 16.,  8.,  7., 13., 22., 45., 41., 27., 18., 25.,
       31., 42., 42., 64., 61., 27., 57., 66., 63., 70., 64., 58., 63.,
       65., 72., 55., 41., 43., 28., 28., 19., 18., 13., 16., 13., 13.,
       15., 11., 11.,  9.,  8.,  9.,  7.,  7.,  7.,  6., 13.,  6.,  4.,
        5.,  3.,  7.,  4.,  4.,  5.,  5.,  5., 10., 12.,  6.,  8., 11.,
       16., 59., 11., 20., 14., 13., 17., 13., 14., 22.,  9., 14., 15.,
       12., 21., 14., 14., 16., 10., 15., 16., 13., 12., 10., 10.,  9.,
        8.,  8.,  5.,  6.,  7.,  7.,  5.,  4.,  5.,  3.,  5.,  4.,  3.,
        3.,  3.,  3.,  5.,  3.,  4.,  5.,  4.,  4.,  5.,  3.,  8.,  7.,
        7.,  9.,  8., 16., 16., 12., 14., 17., 10., 11., 16., 20., 18.,
       12., 16., 13., 16., 11.,  9., 18., 18., 15., 13., 11.,  4.,  6.,
        9.,  4.,  7.,  6.,  6.,  5.,  2.,  6.,  3.,  3.,  4.,  4.,  5.,
        5.,  4.,  5.,  5.,  4.,  3.,  4.,  5.,  5.,  6.,  4.,  6., 11.,
        8., 12., 12., 11., 17., 14., 11., 19., 18.,  9., 12., 20.,  9.,
       15., 12., 13., 16., 14., 18., 17., 13., 11., 10.,  9.,  9.,  8.,
        7.,  5.,  6.,  6.,  5.,  6.,  6.,  3.,  5.,  4.,  2.,  4.,  3.])

In [9]:
y_submit['total_cases'] = y_submit_pred
y_submit['total_cases'] = y_submit['total_cases'].astype(int)

In [10]:
y_submit.head()

  city  year  weekofyear  total_cases
0   sj  2008          18            5
1   sj  2008          19            5
2   sj  2008          20            6
3   sj  2008          21            8
4   sj  2008          22           10

In [11]:
y_submit.tail(10)

    city  year  weekofyear  total_cases
406   iq  2013          17            6
407   iq  2013          18            5
408   iq  2013          19            6
409   iq  2013          20            6
410   iq  2013          21            3
411   iq  2013          22            5
412   iq  2013          23            4
413   iq  2013          24            2
414   iq  2013          25            4
415   iq  2013          26            3

## "dengue_submission_01_rf01.csv" is the initial submission with Random Forest, Standard Scaling and KNN imputing (n_neighbors = 5)

## "dengue_submission_02_rf01.csv" fixes data leakage

In [13]:
y_submit.to_csv('../../data/dengue_submission_02_rf01.csv', index = False)

In [14]:
y_sub = pd.read_csv('../../data/dengue_submission_02_rf01.csv')
y_sub.head()

  city  year  weekofyear  total_cases
0   sj  2008          18            5
1   sj  2008          19            5
2   sj  2008          20            6
3   sj  2008          21            8
4   sj  2008          22           10

### 1/7/21 - Next steps for RF model:
- Set up a pipeline for simplified data processing
- adjust RF model hyperparameters (n_estimators, tree depth, ...)
- evalulate different imputers / imputer options
- Try feature reduction (e.g., duplicated columns, PCA)
- Try a feature selection technique - Recursive Feature Elimination (RFE)